Repository Smartling/java-api-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @klegins-smartling, @AlexanderNovak

.github/CODEOWNERS:

# Global owners
*   @foo4u @bloy-smartling @vlinetskiysml @AlexArcher

smartling-authorization-api/    @foo4u
smartling-jobs-api/             @foo4u @vlinetskiysml @andreyfurdylo @PavloMyrotiuk @ishulyak-smartling
smartling-job-batches-api/      @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling
smartling-files-api/            @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling
smartling-projects-api/         @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling
smartling-locales-api/
smartling-issues-api/           @pshander
smartling-api-test-utils/       @dkBrazz
smartling-strigns-api/          @klegins-smartling @AlexanderNovak

test: fix test
  smartling-files-api/src/test/java/com/smartling/api/files/v2/FilesApiIntTest.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

fix: Resteasy 3.13.1 fixed major unicode issue
  pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

fix: upgrade Resteasy to fix Unicode issue (#40)
  pom.xml
  smartling-files-api/src/test/java/com/smartling/api/files/v2/FilesApiIntTest.java
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

ci: prepare release v0.14.2
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

REPO-568 Fluent Parser Testing and Changes
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

REPO-568 comment for fluent file type
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

REPO-568 Fluent Parser Testing and Changes (#41)
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

feat: Mozilla Fluent localization system
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

Repo 568 repo connector fluent parser support (#43)
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

feat: Mozilla Fluent localization system
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

feat: add FLUENT format (#44)
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/FileType.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

ci: prepare release v0.15.0
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

fix: add client's libNameHolder to files api sdk
  smartling-files-api/src/main/java/com/smartling/api/files/v2/FilesApiFactory.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

fix: add client's libNameHolder to files api sdk (#45)
  smartling-files-api/src/main/java/com/smartling/api/files/v2/FilesApiFactory.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

ci: prepare release v0.15.2
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

docs: Added FilesApi example
  example/FilesApiExample.java
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

JOBS-3477 move find by hashcode/locale and get content to public sdk
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/TranslationJobsApi.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/HashcodesByLocalePTO.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/LocaleHashcodePairPTO.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/TranslationJobFindByLocalesAndHashcodesCommandPTO.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/TranslationJobFoundByStringsAndLocalesResponsePTO.java
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/SampleApiResponses.java
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/TranslationJobsApiTest.java
Owners: @foo4u, @vlinetskiysml, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

feat: add find by hashcode/locale and get content to public sdk
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/TranslationJobsApi.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/HashcodesByLocalePTO.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/LocaleHashcodePairPTO.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/TranslationJobFindByLocalesAndHashcodesCommandPTO.java
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/TranslationJobFoundByStringsAndLocalesResponsePTO.java
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/SampleApiResponses.java
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/TranslationJobsApiTest.java
Owners: @foo4u, @vlinetskiysml, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare release v0.16.0
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

docs: remove package from example
  example/FilesApiExample.java
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

docs: Added FilesApi example (#46)
  example/FilesApiExample.java
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

REPO-578 add fileUri to response for file uploads. Add support PDF files in repo connector
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/UploadFileResponse.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

REPO-578 added fileUri to integration test
  smartling-files-api/src/test/java/com/smartling/api/files/v2/FilesApiIntTest.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

feat: add fileUri to response for files upload api (#48)
  smartling-files-api/src/main/java/com/smartling/api/files/v2/pto/UploadFileResponse.java
  smartling-files-api/src/test/java/com/smartling/api/files/v2/FilesApiIntTest.java
Owners: @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling

ci: prepare release v0.17.0
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

Create maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Add snapshot distribution management
  pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Update snapshot version
  .github/workflows/maven-publish.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Try to get PR number
  .github/workflows/maven-publish.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Clean up
  .github/workflows/maven-publish.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Add maven batch
  .github/workflows/maven-publish.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

Rename workflow
  .github/workflows/maven-publish-snapshots.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

chore: publish pull request snapshots (#49)
  .github/workflows/maven-publish-snapshots.yml
  pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

ci: prepare release v0.18.0
  pom.xml
  samrtling-api-test-utils/pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-files-api/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
  smartling-projects-api/pom.xml
  smartling-strings-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @pshander, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling
