Repository Smartling/java-api-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov

.github/CODEOWNERS:

# Global owners
*   @foo4u @bloy-smartling @vlinetskiysml @AlexArcher

smartling-authorization-api/    @foo4u
smartling-jobs-api/             @foo4u @vlinetskiysml @andreyfurdylo @PavloMyrotiuk @ishulyak-smartling
smartling-job-batches-api/      @dimitrystd @dkBrazz @sl-mmuradov @rmalyona @iskrypka-smartling @borys-lukianov

ci: prepare release v0.7.0
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

chore: polish API commons (#26)
  smartling-api-commons/src/main/java/com/smartling/api/client/context/HttpClientSettings.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/authentication/AuthenticationApi.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/authentication/AuthenticationApiFactory.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/authentication/NoOpClientRequestFilter.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/AbstractApiFactory.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/ApiFactory.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/ClientConfiguration.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/ClientFactory.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/DefaultClientConfiguration.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/ExceptionDecoratorInvocationHandler.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/HttpClientConfiguration.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/auth/AbstractBearerAuthFilter.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/auth/Authenticator.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/auth/AuthorizationRequestFilter.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/auth/BearerAuthSecretFilter.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/auth/BearerAuthStaticTokenFilter.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/auth/SystemClock.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/unmarshal/DetailsDeserializer.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/unmarshal/RestApiContextResolver.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/unmarshal/RestApiResponseReaderInterceptor.java
  smartling-api-commons/src/main/java/com/smartling/api/v2/client/unmarshal/package-info.java
  smartling-api-commons/src/test/java/com/smartling/api/v2/client/AbstractApiFactoryTest.java
  smartling-api-commons/src/test/java/com/smartling/api/v2/client/ClientFactoryTest.java
  smartling-api-commons/src/test/java/com/smartling/api/v2/client/DefaultClientConfigurationTest.java
  smartling-api-commons/src/test/java/com/smartling/api/v2/client/ExceptionDecoratorInvocationHandlerTest.java
  smartling-api-commons/src/test/java/com/smartling/api/v2/client/auth/AuthenticatorTest.java
  smartling-issues-api/src/test/java/com/smartling/api/issues/v2/IssuesApiFactoryTest.java
  smartling-job-batches-api/src/main/java/com/smartling/api/jobbatches/util/FileUploadClientFactory.java
  smartling-job-batches-api/src/main/java/com/smartling/api/jobbatches/v1/JobBatchesApiFactory.java
  smartling-job-batches-api/src/main/java/com/smartling/api/jobbatches/v2/JobBatchesApiFactory.java
  smartling-job-batches-api/src/test/java/com/smartling/api/jobbatches/v1/JobBatchesApiTest.java
  smartling-job-batches-api/src/test/java/com/smartling/api/jobbatches/v2/JobBatchesApiTest.java
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/TranslationJobsApiTest.java
  smartling-locales-api/src/test/java/com/smartling/api/locales/v2/LocalesApiFactoryTest.java
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare release v0.8.0
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

build: remove legacy GPG key
  .circleci/gpg.key.txt
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

NOJIRA added priority to translation job get response pto
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/TranslationJobGetResponsePTO.java
Owners: @foo4u, @vlinetskiysml, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

NOJIRA added test
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/TranslationJobsApiTest.java
Owners: @foo4u, @vlinetskiysml, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

fix: usage GPG key from environment
  .circleci/config.yml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

ci: prepare release v0.8.2
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

build: add pull request template
  .github/pull-request-template.md
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher

feat: added priority to translation job get response pto (#28)
  smartling-jobs-api/src/main/java/com/smartling/api/jobs/v3/pto/TranslationJobGetResponsePTO.java
  smartling-jobs-api/src/test/java/com/smartling/api/jobs/v3/TranslationJobsApiTest.java
Owners: @foo4u, @vlinetskiysml, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare release v0.9.0
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling

ci: prepare for next development iteration
  pom.xml
  smartling-api-commons/pom.xml
  smartling-api-sdk-all/pom.xml
  smartling-issues-api/pom.xml
  smartling-job-batches-api/pom.xml
  smartling-jobs-api/pom.xml
  smartling-locales-api/pom.xml
Owners: @foo4u, @bloy-smartling, @vlinetskiysml, @AlexArcher, @dimitrystd, @dkBrazz, @sl-mmuradov, @rmalyona, @iskrypka-smartling, @borys-lukianov, @andreyfurdylo, @PavloMyrotiuk, @ishulyak-smartling
